<nav class="navbar border-bottom">
    <div class="container-fluid py-2">
        <a class="navbar-brand fw-bold fs-4" href="#">
            <img src="../../../assets/logo.png" width="40">
            <span class="ms-3">Nor-Shipping 2019</span>
        </a>
        <div class="d-flex flex-column flex-md-row mt-md-0 mt-5">
            <div class="mx-md-3 border-start border-danger border-4">
                <div class="px-1">
                    <span class="text-uppercase text-secondary">Deals</span>
                    <h5>43</h5>
                </div>
            </div>
            <div class="mx-md-3 border-start border-info border-4">
                <div class="px-1">
                    <span class="text-uppercase text-secondary">Total Value[NOK]</span>
                    <h5>4.19 Min</h5>
                </div>
            </div>
            <div class="mx-md-3 border-start border-warning border-4">
                <div class="px-1">
                    <span class="text-uppercase text-secondary">Hit Rate</span>
                    <h5>10%</h5>
                </div>
            </div>
            <div class="mx-md-3 border-start border-success border-4">
                <div class="px-1">
                    <span class="text-uppercase text-secondary">Deals Won</span>
                    <h5>12/65</h5>
                </div>
            </div>
            <div class="mx-md-3 border-start border-primary border-4">
                <div class="px-1">
                    <span class="text-uppercase text-secondary">New Clients</span>
                    <h5>8/12</h5>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="my-4 container">
    <div class="links d-flex flex-md-row flex-column p-0">
        <a class="text-decoration-none me-md-4 my-md-0 my-2 text-secondary"><i class="bi bi-shop-window me-1"></i>Exhibitors</a>
        <a class="text-decoration-none me-md-4 my-md-0 my-2 text-secondary active" routerLink="/deals"><i class="bi bi-basket me-1"></i>Sales</a>
        <a class="text-decoration-none me-md-4 my-md-0 my-2 text-secondary"><i class="bi bi-basket3 me-1"></i>Program</a>
        <a class="text-decoration-none me-md-4 my-md-0 my-2 text-secondary"><i class="bi bi-file-earmark-person me-1"></i>Delegates</a>
        <a class="text-decoration-none me-md-4 my-md-0 my-2 text-secondary"><i class="bi bi-nut me-1"></i>Settings</a>
    </div>
</div>
