<div class="container">
    <div class="row my-5 m-0">
      <div class="col-md-2 d-flex align-items-center">
        <h3 class="">Deals</h3>
      </div>
      <div class="col-md-8 p-0">
        <select class="p-2 me-3 my-md-0 my-2 text-secondary">
          <option selected>Segment: All</option>
          <option *ngFor="let segment of segmentsList">
            {{segment}}
          </option>
        </select>
        <select class="p-2 me-3 my-md-0 my-2 text-secondary">
          <option selected>Assignee: All</option>
          <option *ngFor="let segment of segmentsList">
            {{segment}}
          </option>
        </select>
        <select class="p-2 me-3 my-md-0 my-2 text-secondary">
          <option selected>Status: All</option>
          <option *ngFor="let segment of segmentsList">
            {{segment}}
          </option>
        </select>

        <input type="search" placeholder="Search by name or flag" class="p-2" style="width: 250px;" [(ngModel)]="enteredSearchValue" (input)="onSearchTextChanged()">

      </div>
      <div class="col-md-2 d-flex p-0 justify-content-md-end">
        <button type="button" class="btn btn-primary mt-md-0 mt-4" style="height: 50px; width: 150px;"><i
            class="bi bi-plus-circle-fill me-3"></i>Add Deal</button>
      </div>
    </div>
  </div>
